-r requirements-base.txt

accelerate==1.12.0
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aistudio-sdk==0.3.8
aisuite==0.1.14
albucore==0.0.13
# albumentations==2.0.8
albumentations==1.4.10
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.71.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.3
anyio==4.12.0
apache-tvm-ffi==0.1.5
appdirs==1.4.4
astor==0.8.1
asttokens==3.0.1
attrs==25.4.0
audioread==3.1.0
av==16.0.1
babel==2.17.0
backoff==2.2.1
backrefs==6.1
bce-python-sdk==0.9.56
beautifulsoup4==4.14.3
blake3==1.0.8
blis==1.3.3
boto3==1.42.4
botocore==1.42.4
brotli==1.2.0
cachetools==6.2.2
cairocffi==1.7.1
CairoSVG==2.8.2
catalogue==2.0.10
cbor2==5.7.1
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
chonkie==1.3.1
click==8.2.1
cloudpathlib==0.23.0
cloudpickle==3.1.2
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.10.1
compressed-tensors==0.12.2
confection==0.1.5
contourpy==1.3.3
contractions==0.1.73
courlan==1.3.2
cryptography==44.0.3
cssselect==1.3.0
cssselect2==0.8.0
cssutils==2.11.1
cuda-bindings==13.1.0
cuda-pathfinder==1.3.3
cuda-python==13.1.0
cupy-cuda12x==13.6.0
cycler==0.12.1
cymem==2.0.13
Cython==3.2.3
dataclasses-json==0.6.7
datasets==3.2.0
datasketch==1.8.0
dateparser==1.2.2
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
depyf==0.20.0
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
# doclayout_yolo==0.0.4  # pip install doclayout_yolo --no-deps
docstring-parser==0.15
editdistpy==0.1.6
einops==0.8.1
email-validator==2.3.0
et_xmlfile==2.0.0
evaluate==0.4.6
executing==2.2.1
faiss-cpu==1.12.0
fast-langdetect==0.2.5
fastapi==0.124.0
fastapi-cli==0.0.16
fastapi-cloud-cli==0.6.0
fastar==0.8.0
fastrlock==0.8.3
fasttext-predict==0.9.2.4
fasttext-wheel==0.9.2
ffmpy==1.0.0
filelock==3.20.0
fire==0.7.1
flashinfer-python==0.5.3
flatbuffers==25.9.23
fonttools==4.61.0
frozenlist==1.8.0
fsspec==2024.9.0
ftfy==6.3.1
func_timeout==4.3.5
future==1.0.0
gguf==0.17.1
ghp-import==2.1.0
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
googleapis-common-protos==1.72.0
gradio
gradio_client
gradio_pdf
greenlet==3.3.0
groovy==0.1.2
h11==0.16.0
hf-xet==1.2.0
htmldate==1.9.4
httpcore==1.0.9
httplib2==0.31.0
httptools==0.7.1
httpx==0.27.2
httpx-retries==0.4.5
httpx-sse==0.4.3
huggingface-hub==0.36.0
humanfriendly==10.0
idna==3.11
ImageIO==2.37.2
imagesize==1.4.1
img2pdf==0.6.3
imgaug==0.4.0
imgkit==1.2.3
iniconfig==2.3.0
interegular==0.3.3
ipython==8.18.1
jedi==0.19.2
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
joblib==1.5.2
json_repair==0.54.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jusText==3.0.2
kiwisolver==1.4.9
kornia==0.8.2
kornia_rs==0.1.10
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.76
langchain-openai==0.3.33
langchain-text-splitters==0.3.11
langgraph==0.6.7
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.6
langkit==0.0.35
langsmith==0.4.56
lark==1.2.2
latex2sympy2_extended==1.10.2
lazy_loader==0.4
librosa==0.11.0
llguidance==1.3.0
llvmlite==0.44.0
lm-format-enforcer==0.11.3
lmdb==1.7.5
loguru==0.7.3
lxml==6.0.2
lxml_html_clean==0.4.3
magika==1.0.1
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
math-verify==0.8.0
matplotlib==3.10.7
matplotlib-inline==0.2.1
mdurl==0.1.2
mergedeep==1.3.4
mineru==2.6.6
mineru_vl_utils==0.1.17
mistral_common==1.8.6
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.7.0
mkdocs-material-extensions==1.3.1
model-hosting-container-standards==0.1.9
modelscope==1.33.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.20.0
multidict==6.7.0
multiprocess==0.70.16
murmurhash==1.0.15
mypy_extensions==1.1.0
networkx==3.6
ninja==1.13.0
nltk==3.9.2
numba==0.61.2
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cccl-cu12==12.6.77
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cudnn-frontend==1.16.0
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-cutlass-dsl==4.3.2
nvidia-ml-py==13.590.44
nvidia-nccl-cu11==2.19.3
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.8.90
omegaconf==2.3.0
onnxruntime==1.23.2
open-dataflow==1.0.6
openai==1.109.1
openai-harmony==0.0.8
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt-einsum==3.3.0
orjson==3.11.5
ormsgpack==1.12.0
outlines_core==0.2.11
packaging==25.0
paddleocr==2.9.1
paddlepaddle==3.2.0
paginate==0.5.7
pandas==2.3.3
parso==0.8.5
partial-json-parser==0.2.1.1.post7
pathspec==0.12.1
pdf2image==1.17.0
pdfminer.six==20250506
pdfplumber==0.11.7
pdftext==0.6.3
pexpect==4.9.0
phonenumbers==9.0.20
pikepdf==10.0.3
pillow==11.3.0
platformdirs==3.11.0
playwright==1.56.0
pluggy==1.6.0
polars==1.35.2
polars-runtime-32==1.35.2
pooch==1.8.2
premailer==3.10.0
preshed==3.0.12
presidio_analyzer==2.2.360
presidio_anonymizer==2.2.360
prettytable==3.17.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.2
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyahocorasick==2.2.0
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.3
pybind11==3.0.1
pyclipper==1.4.0
pycountry==24.6.1
pycparser==2.23
pycryptodome==3.23.0
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydub==0.25.1
pydyf==0.12.1
pyee==13.0.0
pyfiglet==1.0.4
Pygments==2.19.2
pymdown-extensions==10.18
PyMuPDF==1.26.6
PyMySQL==1.1.2
pyparsing==3.2.5
pypdf==6.4.1
PyPDF2==3.0.1
pypdfium2==4.30.0
pyphen==0.17.2
pytesseract==0.3.13
pytest==9.0.2
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
python-json-logger==4.0.0
python-multipart==0.0.20
python-pptx==1.0.2
pytz==2025.2
PyYAML==6.0.2
pyyaml_env_tag==1.1
pyzmq==27.1.0
qwen-vl-utils==0.0.14
RapidFuzz==3.14.3
ray==2.52.1
referencing==0.37.0
regex==2025.11.3
reportlab==4.4.5
requests==2.32.5
requests-file==3.0.1
requests-toolbelt==1.0.0
rich==14.2.0
rich-toolkit==0.17.0
rignore==0.7.6
robust-downloader==0.0.2
rpds-py==0.30.0
rsa==4.9.1
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
ruff==0.14.8
s3transfer==0.16.0
safehttpx==0.1.7
safetensors==0.7.0
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
semantic-version==2.10.0
sentencepiece==0.2.1
sentry-sdk==2.47.0
setproctitle==1.3.7
shapely==2.1.2
shellingham==1.5.4
simhash==2.1.2
simsimd==6.5.3
six==1.17.0
smart_open==7.5.0
sniffio==1.3.1
socksio==1.0.0
soundfile==0.13.1
soupsieve==2.8
soxr==1.0.0
spacy==3.8.11
spacy-huggingface-pipelines==0.0.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.44
sqlglot==28.1.0
srsly==2.5.2
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.50.0
stringzilla==4.4.0
supervisor==4.3.0
syllapy==0.7.2
sympy==1.14.0
symspellpy==6.9.0
tabulate==0.9.0
tenacity==9.1.2
termcolor==3.2.0
textsearch==0.0.24
thinc==8.3.10
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile==2025.10.16
tiktoken==0.12.0
timm==1.0.22
tinycss2==1.5.1
tinyhtml5==2.0.0
tld==0.13.1
tldextract==5.3.0
tokenizers==0.22.1
tomli==2.3.0
tomlkit==0.13.3
torch
torchaudio
torchvision
tqdm==4.67.1
trafilatura==2.0.0
traitlets==5.14.3
transformers==4.57.3
triton==3.5.0
typer==0.20.0
typer-slim==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ujson==5.11.0
ultralytics==8.3.235
ultralytics-thop==2.0.18
uritemplate==4.2.0
urllib3==2.6.0
uuid_utils==0.12.0
uvicorn==0.38.0
uvloop==0.22.1
vendi-score==0.0.3
vllm
vtracer==0.6.11
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
weasel==0.4.3
weasyprint==67.0
webencodings==0.5.1
websockets==15.0.1
whylabs-client==0.6.16
whylabs-textstat==0.7.4
whylogs==1.6.4
whylogs-sketching==3.4.1.dev3
word2number==1.1
wrapt==2.0.1
xgrammar==0.1.27
xlsxwriter==3.2.9
xxhash==3.6.0
yarl==1.22.0
zopfli==0.4.0
zstandard==0.25.0
